<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BalleCoffee</title>
  <meta name="description" content="Explore dezenas de variações de bebidas favorita entre os devs ao redor do mundo!">

</head>
<body>
  <head>
    <nav>
      <span>BalleCoffee</span>
      <li><a>Home</a></li>
      <li><a>Receitas</a></li>
      <li><a>Novidades</a></li>
      <li><a>Melhor avaliadas</a></li>
    </nav>
  </head>
  <main>

  </main>
  <footer>

  </footer>
</body>
</html>
