* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #1F1517;
  color: #FFFFFF;
}

html{
    font-family: Inter, sans-serif;
    font-weight: 500;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

nav{
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600;

}

.menu{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: #FFF2E780;

}

