


    <nav>
      <span class="logo">BalleCoffee</span>

        <a>Home</a>
        <a>Receitas</a>
        <a>Novidades</a>
        <a>Melhor avaliadas</a>

    <a>GitHub</a>
    </nav>


  <main>
    <section>

        <span>novidades</span>
        <h1>Encontre a receita perfeita!</h1>
        <h2>Explore dezenas de receitas favoritas dos devs ao redor do mundo!</h2>
        <hr/>
        <h2></h2>
        <div></div>

      <div>
        <!-- XXXXXX01 -->
        <!-- XXXXXX02 -->
        <figure><img src="assets/0cd14456-a181-44e4-bc24-4ff3648efb8e.jpg"></figure>
        <figure><img src="Coffee & Coding.jpg"></figure>
        <figure><img src="src/assets/img/Decoração para Cafeterias_ como criar um ambiente moderno e aconchegante.jpg"></figure>
        <figure><img src="src/assets/img/Deliciosos grãos de café e xícara _ Foto Grátis.jpg"></figure>
        <figure><img src="src/assets/img/Foto de Handmrts no Pexels.jpg"></figure>
        <figure><img src="src/assets/img/Holiday Spiced Café Au Lait - The Local Palate.jpg"></figure>
        <figure><img src="src/assets/img/I Gave Up Coffee -- Here's What Happened To My Skin.jpg"></figure>
        <figure><img src="src/assets/img/Torrar café em casa e tipos de torra.jpg"></figure>
        <figure><img src="src/assets/img/Vicky - Indoor-Fotoshooting im Café.jpg"></figure>
        <figure><img src="src/assets/img/Latte yummy.jpg"></figure>
        <figure><img src="src/assets/img/Different Ways To Make Coffee To Perfection.jpg"></figure>
        <figure><img src="src/assets/img/Efeitos do Café e Bebidas com Cafeína _ Receitas de Mãe.jpg"></figure>
      </div>
    </section>

    <section>
      <button class="button">Button</button>
     </section>

    <section>
      <header>
        <span>receitas</span>
        <h2>confira a últimas receitas</h2>
        <p>Dê uma olhada nas receitas mais amadas!</p>
      </header>
      <div>
        <div>
          <header>
            <div>
              <span>em alta 🔥</span>
              <h3>Cappuccino</h3>
            </div>
            <p>Extraordinário . 4/4 </p>
          </header>
          <p>Uma bebida ideal para os amantes de doce e cremosidade. 😍</p>
          <div>
            <img src="https://www.linkedin.com/in/william-lomar-2948b622b/overlay/photo/">
            <span>William Lomar</span>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <P>Copyright &lt;CODEFEE /&lt; 2024</P>
    <p>feito com muita dedicação e café por Rhavy Salles</p>
  </footer>



